<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="徵信社,徵信公會,徵信師考試">
    <meta name="description" content="全國徵信公會稟持專業徵信的服務態度，提供全國合法立案的徵信社目錄，並教導民眾應當如何選擇合法正規經營的徵信社，讓不肖徵信公司無法繼續生存。">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
    <title>中華民國徵信商業同業公會</title>
    <!-- 由 Google 結構化資料標記協助工具產生的 JSON-LD 標記。 -->
    <script type="application/ld+json">
        [ {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "成立目的",
        "articleBody" : "許多在網站上查詢到的徵信公司沒經政府立案，而民眾對於徵信作業內容以及服務都不了解，如果只是透過電話以及價格上的比較，並無法確保民眾的權益，如不小心碰到不合法的徵信業者，委託民眾就會受到欺騙或者是不合理的對待。徵信社等於國外的偵探社，這是由於台灣公司法令的規定，在台灣的偵探社才叫作徵信社或是徵信公司，本網站的成立目的是提供需要委託的民眾了解徵信公司，使委託的民眾不會受到不法徵信業者騙財或恐嚇。"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "服務宗旨",
        "articleBody" : "民眾在網路上查詢的徵信公司或徵信社，大多數徵信公司作業程序都不夠透明化，全國徵信公會網站稟持專業徵信的服務態度，提供全國合法立案的徵信社目錄，以及提供許多相關文章來增加民眾對本行業的了解。 另為避免徵信社低價委託卻中途漫天加價，全國各地區徵信社公會服務網站特地教導民眾應當如何選擇合法正規經營的徵信社，讓不肖徵信公司無法繼續生存。"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "服務項目",
        "articleBody" : "徵信社評定、推薦優良徵信公司、法律諮詢、檢舉不法業者"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "外遇蒐證",
        "articleBody" : "台灣的外遇似乎已經普及到了一個臨界點，生命中不能為人所知的祕密情慾"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "外遇抓姦",
        "articleBody" : "妨害家庭通姦罪尚未除罪化前，由於此行為觸犯刑法，因此諸多委託人據此達成離婚、爭取贍養費、"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "尋人查址",
        "articleBody" : "你是否有多年不見的朋友因久未聯絡而找不到人，或是因有金錢糾紛而避而不見面，或是另一半與你吵架而離家出走"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "婚前徵信",
        "articleBody" : "婚前徵信，天下父母心，期望教養成年的子女能有一個好的歸宿，除了婚前健康檢查，了解健康狀況是否有遺傳病史"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "離婚證人",
        "articleBody" : "您需要離婚証人嗎? 各政府立案之專業徵信社提供離婚証人服務，隨傳隨到，價格合理。"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "行蹤調查",
        "articleBody" : "針對委託人所提供之對象，進行全天候行蹤調查與跟監，並配合高科技攝影器材予以全程攝影及拍攝"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "工商徵信",
        "articleBody" : "在現今多變化的社會裡，商業信用即是公司信譽，公司信譽的好壞往往決定於在市場上是否能生存"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "財產徵信",
        "articleBody" : "財產調查又可分為動產調查及不動產調查"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "仿冒調查",
        "articleBody" : "商標、專利、智慧財產、發明、公司產品 … 等等，遭仿冒或侵權致使商譽、商機、財產 … 等權益受損"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "侵權蒐證",
        "articleBody" : "商標、專利、智慧財產、發明、公司產品…等等，遭仿冒或侵權致使商譽、"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "債務協議",
        "articleBody" : "社會變化大，生活水準提高，相對的；人與人之間的借貸關係也越來越多，"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "汽車定位",
        "articleBody" : "E時代的來臨，使得許多先進設備普遍被一般大眾使用。如行動電話、汽車，上述往往是調查「外遇證據"
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "委託須知",
        "articleBody" : [ "委託人須注意委託的徵信公司登記時間及廣告不實", "委託人須注意委託的徵信公司內，是否氣分詭異，若感到有異狀，要盡速藉故離開", "委託人須注意，若遭到不法份子恐嚇取財，要立即報警或是聯絡本協會協助處理", "委託人須注意委託時，最好到徵信公司進行簽約或詢問，以免不法的業務人員私下作業", "委託人須注意委託的徵信公司是否可以處理你的案件。", "委託人須注意委託的徵信公司人員是否品行端正", "委託人須注意委託時會簽訂徵信委託契約書", "委託人須注意委託的內容是否何徵信委託契約書相同", "委託人須注意委託的內容是否有收據或是發票", "委託人須注意委託的內容未簽定徵信委託契約書前先不要付任何費用", "委託人須注意，若對於受委託的徵信公司有任何疑慮，迅速與本會連絡，本會會迅速協助。" ]
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "申訴流程",
        "articleBody" : [ "準備好委託徵信書以及付款單據", "向該徵信公司提出申訴", "向本協會請求協助" ]
        }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "公會聯絡專線",
        "articleBody" : "02-2518-2277"
        } ]
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl fixed-top navbar-transparent">
            <div class="container">
                <a class="navbar-brand navbar-origin-color invisible" href="#">中華民國徵信商業同業公會</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars fa-lg"></i></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link navbar-origin-color active" href="#">首頁 <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link navbar-origin-color" href="#link1">簡介</a>
                        <a class="nav-item nav-link navbar-origin-color" href="#link2">徵信師考試公告</a>
                        <a class="nav-item nav-link navbar-origin-color" href="#link3">徵信社服務項目</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navbar-origin-color" href="#link4" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">徵信文章</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="news.html">徵信新聞</a>
                                <a class="dropdown-item" href="cases.html">徵信案例</a>
                                <a class="dropdown-item" href="columns.html">徵信專欄</a>
                            </div>
                        </div>
                        <a class="nav-item nav-link navbar-origin-color" href="#link5">委託須知</a>
                        <a class="nav-item nav-link navbar-origin-color" href="#link6">公會成員</a>
                        <a class="nav-item nav-link navbar-origin-color" href="#link7">聯絡我們</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>中華民國徵信商業同業公會</h1>
                <a href="#link1">
                    <button class="banner-more">了解更多</button>
                </a>
            </div>
        </div>
        <div class="banner-bottom"></div>    
    </section>
    <span class="anchor" id="link1"></span>
    <section id="intro" class="intro">
        <div class="container">
            <div class="intro-item">
                <h4>成立目的</h4>
                <p>許多在網站上查詢到的徵信公司沒經政府立案，而民眾對於徵信作業內容以及服務都不了解，如果只是透過電話以及價格上的比較，並無法確保民眾的權益，如不小心碰到不合法的徵信業者，委託民眾就會受到欺騙或者是不合理的對待。徵信社等於國外的偵探社，這是由於台灣公司法令的規定，在台灣的偵探社才叫作徵信社或是徵信公司，本網站的成立目的是提供需要委託的民眾了解徵信公司，使委託的民眾不會受到不法徵信業者騙財或恐嚇。</p>
            </div>
            <div class="intro-item">
                <h4>服務宗旨</h4>
                <p>民眾在網路上查詢的徵信公司或徵信社，大多數徵信公司作業程序都不夠透明化，全國徵信公會網站稟持專業徵信的服務態度，提供全國合法立案的徵信社目錄，以及提供許多相關文章來增加民眾對本行業的了解。 另為避免徵信社低價委託卻中途漫天加價，全國各地區徵信社公會服務網站特地教導民眾應當如何選擇合法正規經營的徵信社，讓不肖徵信公司無法繼續生存。</p>
            </div>
            <div class="intro-item">
                <h4>服務項目</h4>
                <p>徵信社評定、推薦優良徵信公司、法律諮詢、檢舉不法業者。</p>
            </div>
        </div>
    </section>
    <span class="anchor" id="link2"></span>
    <section id="exam" class="exam">
        <div class="container">
            <h4>徵信師考試公告</h4>
        </div>
    </section>
    <span class="anchor" id="link3"></span>
    <section id="service" class="service">
        <div class="container">
            <h4>徵信社服務項目</h4>
            <div class="service-item-set">
                <div class="service-item" v-for="item in items">
                    <h4 v-bind:class="{'service-bg01': item.bg01,'service-bg02': item.bg02,'service-bg03': item.bg03,'service-bg04': item.bg04,'service-bg05': item.bg05,'service-bg06': item.bg06,'service-bg07': item.bg07,'service-bg08': item.bg08,'service-bg09': item.bg09,'service-bg10': item.bg10,'service-bg11': item.bg11,'service-bg12': item.bg12}">{{item.title}}</h4>
                    <div class="service-content">
                        <div class="service-text">
                            <p>{{item.content[0]}}</p>
                        </div>
                        <a v-bind:href="'service' + item.number + '.html'">
                            <button class="service-more">查看更多</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <span class="anchor" id="link4"></span>
    <section id="article" class="article">
        <div class="container">
            <div class="article-set">
                <div class="article-item">
                    <h5>徵信新聞</h5>
                    <div class="article-content" v-for="(item,index) in news"  v-if="index < 5">
                        <a v-bind:href="'news' + item.number + '.html'">
                            <div class="article-date">
                                {{item.date}}
                            </div>
                            <div class="article-title1">
                                {{item.title}}
                            </div>
                        </a>
                    </div>
                    <a href="news.html">
                        <button class="article-more">查看更多</button>
                    </a>
                </div>
                <div class="article-item">
                    <h5>徵信案例</h5>
                    <div class="article-content" v-for="(item,index) in cases" v-if="index < 5">
                        <a v-bind:href="'cases' + item.number + '.html'">
                            <div class="article-title2">
                                {{item.title}}
                            </div>
                        </a>
                    </div>
                    <a href="cases.html">
                        <button class="article-more">查看更多</button>
                    </a>
                </div>
                <div class="article-item">
                    <h5>徵信專欄</h5>
                    <div class="article-content" v-for="(item,index) in columns" v-if="index < 5">
                        <a v-bind:href="'columns' + item.number + '.html'">
                            <div class="article-title2">
                                {{item.title}}
                            </div>
                        </a>
                    </div>
                    <a href="columns.html">
                        <button class="article-more">查看更多</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <span class="anchor" id="link5"></span>
    <section id="notice" class="notice">
        <div class="container">
            <h4>委託須知</h4>
            <div class="notice-set">
                <div class="notice-item" v-for="(content,index) in entrust">
                    <div class="notice-number">
                        <p>{{index + 1}}</p>
                    </div>
                    <div class="notice-text">
                        <p>{{content}}</p>
                    </div>
                </div>
            </div>
            <h4>申訴流程</h4>
            <div class="notice-set">
                <div class="notice-item" v-for="(content,index) in appeal">
                    <div class="notice-number">
                        <p>{{index + 1}}</p>
                    </div>
                    <div class="notice-text">
                        <p>{{content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <span class="anchor" id="link6"></span>
    <section id="member" class="member">
        <div class="container">
            <h4>公會成員</h4>
            <div class="member-set">
                <div class="member-item" v-for="list in lists">
                    <a v-bind:href="list.address" target="_blank">
                        <div class="member-img" v-html="list.img"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <span class="anchor" id="link7"></span>
    <footer>
        <div class="container">
            <a href="TEL:0225182277">
                <h5>公會聯絡專線：02-2518-2277</h5>
            </a>
            <p>Copyright © 版權所有 2020 全國徵信公會 Taiwan world.class Inc. All Rights Reserved.</p>
            <p>網站設計及技術服務 by 錢進整合媒體</p>
        </div>
    </footer>
</body>
</html>